.news-container{
    background-image: url(../../../../images/newsletter.jpg);
    width: 100%;
    height: 400px;
   
}
.nl-input{
    width: 500px;
    padding: 10px;
    margin: 0px 10px;
    border: 2px solid #F84308;
    border-radius: 5px;
    color: black;
}



@media only screen and  (max-width:600px) {
    .nl-input{
        width: 300px;
        margin: 15px 0px;
        
    }
    .news-container{
        height: auto;
    }
    .sum-button{

        display: block;
        margin: auto;

    }
 }